[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Indonesia included here????
[access "refs/*"]
	owner = group user/Dhimas Bagus Prayoga (Kry9toN)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Dhimas Bagus Prayoga (Kry9toN)
	label-Verified = -1..+1 group user/Dhimas Bagus Prayoga (Kry9toN)
	push = group user/Dhimas Bagus Prayoga (Kry9toN)
	read = group user/Dhimas Bagus Prayoga (Kry9toN)
	rebase = group user/Dhimas Bagus Prayoga (Kry9toN)
	removeReviewer = group user/Dhimas Bagus Prayoga (Kry9toN)
	submit = group user/Dhimas Bagus Prayoga (Kry9toN)
[access "refs/heads/*"]
	create = group user/Dhimas Bagus Prayoga (Kry9toN)
	push = +force group user/Dhimas Bagus Prayoga (Kry9toN)
	pushMerge = group user/Dhimas Bagus Prayoga (Kry9toN)
	read = group user/Dhimas Bagus Prayoga (Kry9toN)
[access "refs/tags/*"]
	push = group user/Dhimas Bagus Prayoga (Kry9toN)
	push = +force group user/Dhimas Bagus Prayoga (Kry9toN)
